/****** VARIABLES ******/

:root {
  --color-logo-green: #54e6af;
  --color-button-hover-green: #b3ffe2;
  --color-very-lght-grey: #c2cbe5;
  --color-lght-grey: #5a668a;
  --color-very-dark-grey: #2c344b;
  --color-almost-black: #121725;
  --color-white: #ffffff;
  --color-error-red: #fb3e3e;
}

*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Chivo", sans-serif;
  background-image: url(../assets/assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

ul {
  list-style: none;
}

::-moz-placeholder {
  opacity: 1;
}

h1 {
  font-size: 1.55rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2.375rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
  order: 1;
}

h1 span {
  color: var(--color-logo-green);
}

.main__text {
  font-size: 0.9375rem;
  opacity: 0.8;
  line-height: 1.5;
  color: var(--color-very-lght-grey);
  margin-bottom: 2.5rem;
  order: 2;
}

.main__error-msg {
  font-size: 0.75rem;
  color: var(--color-error-red);
  text-align: left;
  padding-left: 2rem;
  min-height: 1.5rem;
}

.logo {
  padding: 1rem 2rem;
  display: inline-block;
}

.main__wrapper {
  min-height: 100vh;
  background-color: rgba(18, 23, 37, 0.9);
  max-width: 39rem;
}

.main__container {
  padding: 1.5rem;
  text-align: center;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
}

.main__socials {
  order: 3;
}

.main__socials-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
  padding: 0 0.8rem;
}

.main__socials-list img {
  opacity: 0.6;
}

.spotify {
  width: 3.5rem;
}

.apple {
  width: 3rem;
}

.google {
  width: 5rem;
}

.pocket {
  width: 4.5rem;
}

.main__form {
  max-width: 26rem;
  order: 4;
  display: flex;
  flex-direction: column;
}

.main__input {
  font-size: 0.875rem;
  color: var(--color-lght-grey);
  padding-left: 3rem;
  opacity: 0.6;
  width: 100%;
  border-style: none;
  border-radius: 2rem;
  padding: 0.8rem 0 0.8rem 2rem;
  background-color: var(--color-very-dark-grey);
  color: var(--color-white);
  font-family: inherit;
  letter-spacing: 0.5px;
  font-weight: bolder;
}

button {
  width: 100%;
  padding: 0.8rem 0;
  background-color: var(--color-logo-green);
  border-style: none;
  border-radius: 2rem;
  color: var(--color-almost-black);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-family: inherit;
}

button:hover {
  background-color: var(--color-button-hover-green);
  cursor: pointer;
}

.main__error-msg {
  font-size: 0.75rem;
}

.footer__dots {
  position: absolute;
  width: 1px;
  left: -100px;
}

/******************************************

                TABLET 768px

******************************************/

@media only screen and (min-width: 37.5rem) {
  body {
    background-color: var(--color-almost-black);
    background-image: none;
    background-image: url(../assets/assets/tablet/image-host.jpg);
    background-size: inherit;
    background-position: top right;
    background-repeat: no-repeat;
  }

  .main__wrapper {
    background-color: transparent;
  }

  .main__wrapper::after {
    content: url(/assets/assets/desktop/bg-pattern-dots.svg);
    position: relative;
    bottom: -9rem;
  }

  .logo {
    padding: 3rem 2rem;
    display: inline-block;
  }

  .main__container {
    background-color: var(--color-almost-black);
    opacity: 1;
    min-width: 41.5rem;
    position: relative;
    transform: translate(0, 6.5rem);
  }

  h1 {
    font-size: 3em;
    text-align: left;
    line-height: 3.4rem;
  }

  .main__text {
    font-size: 1.125rem;
    max-width: 28rem;
    text-align: left;
  }

  .main__socials {
    order: 4;
  }

  .main__socials-list {
    justify-content: left;
    order: 4;
    margin-top: 4rem;
    margin-bottom: 7rem;
  }

  li {
    margin-right: 2.5rem;
  }

  .spotify {
    width: 5rem;
  }

  .apple {
    width: 4.5rem;
  }

  .google {
    width: 7rem;
    padding-top: 0.3rem;
  }

  .pocket {
    width: 7rem;
  }

  .main__form {
    flex-direction: row;
    order: 3;
    background-color: var(--color-very-dark-grey);
    border-radius: 2rem;
    padding: 0.3rem;
  }
}

/******************************************

                SCREEN 900px

******************************************/

@media only screen and (min-width: 56.25rem) {
}

/****************************************** 

              DESKTOP 1440px 

******************************************/
@media only screen and (min-width: 90rem) {
  body {
    background-image: url(/assets/assets/desktop/image-host.jpg);
  }

  .main__container {
    transform: translate(0, 0.5rem);
    margin-bottom: 0;
  }

  .main__wrapper::after {
    bottom: 11.8rem;
    left: 75rem;
  }
}
