/****** VARIABLES ******/
:root {
  --color-logo-green: #54E6AF;
  --color-button-hover-green: #B3FFE2;
  --color-very-lght-grey: #C2CBE5;
  --color-lght-grey: #5A668A;
  --color-very-dark-grey: #2C344B;
  --color-almost-black: #121725;
  --color-white: #FFFFFF;
  --color-error-red: #FB3E3E;
}

/******  ******/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Chivo', sans-serif;
  background-image: url(../assets/assets/mobile/image-host.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

::-moz-placeholder {
  opacity: 1;
}

/****** FONT STYLING ******/
h1 {
  font-size: 1.55rem;
  text-transform: uppercase;
  line-height: 2.375rem;
  color: var(--color-white);
  margin-bottom: 1.5rem;
  margin-top: 3.5rem;
}

h1 span {
  color: var(--color-logo-green);
}

.main__text {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--color-very-lght-grey);
  margin-bottom: 2.5rem;
}

.main__error-msg {
  font-size: 0.75rem;
  color: var(--color-error-red);
  text-align: left;
  padding-left: 2rem;
  min-height: 1.5rem;
}

.main__input {
  font-size: 0.875rem;
  color: var(--color-lght-grey);
  padding-left: 3rem;
  opacity: 0.6;
}

.logo {
  padding: 1rem 2rem;
}

.main__wrapper {
  min-height: 100vh;
  background-color: rgba(18, 23, 37, 0.9);
}

.main__container {
  padding: 1.5rem;
  text-align: center;
  max-width: 45rem;
}

.main__socials-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.main__socials-list img {
  width: 4rem;
  opacity: 0.6;
}

.main__form {
  max-width: 26rem;
}

.main__input {
  width: 100%;
  border-style: none;
  border-radius: 2rem;
  padding: 0.8rem 0 0.8rem 2rem;
  background-color: var(--color-very-dark-grey);
  color: var(--color-white);
  font-family: inherit;
  letter-spacing: 0.5px;
  font-weight: bolder;
}

button {
  width: 100%;
  padding: 0.8rem 0;
  background-color: var(--color-logo-green);
  border-style: none;
  border-radius: 2rem;
  color: var(--color-almost-black);
  font-size: 0.875rem;
  font-weight: bolder;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-family: inherit;
}

button:hover {
  background-color: var(--color-button-hover-green);
}

/****** TABLET ******/
@media only screen and (min-width: 26.875rem) {
  body {
    background-color: var(--color-almost-black);
    background-image: none;
  }
  .main__wrapper {
    background-image: url(../assets/assets/tablet/image-host.jpg);
    background-repeat: no-repeat;
    background-position-x: 30rem;
  }
  .main__container {
    background-color: var(--color-almost-black);
    min-width: 39rem;
    border: 1px solid red;
    position: relative;
    transform: translate(0, 10rem);
  }
}

/****** DESKTOP ******/
